<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cy.mapper.SysMenuMapper">
    <select id="findPermissonsById" resultType="String">
        select permission from sys_menus
        where id in
        <foreach collection="menuIds" open="("
                 close=")" separator="," item="menuId">
            #{menuId}
        </foreach>
    </select>

</mapper>
