<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cy.mapper.SysRoleMapper">
    <select id="findMenuIdsByRoleId" resultMap="findMenuIdsByRoleId">
        select id,name,note
        from sys_roles
        where id=#{id}
    </select>
    <resultMap id="findMenuIdsByRoleId"
               type="com.cy.entity.SysRoleMenu">
        <id property="id" column="id"/>
        <collection property="menuIds"
                    ofType="Integer"
                    column="id"
                    select="com.cy.mapper.SysRoleMenuMapper.findMenuIdsByRoleId">
        </collection>
    </resultMap>
</mapper>
